# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Books\data-binding-spring-login\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
